altgraph==0.17.5
packaging==26.0
pefile==2024.8.26
openpyxl==3.1.5
pdfplumber==0.11.7
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pypdf==6.9.2
PyPDF2==3.0.1
pypiwin32==223
pywin32==311
pywin32-ctypes==0.2.3
Send2Trash==2.1.0
win10toast==0.9
winotify==1.1.0
